<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notesin">

    <supports-screens
        android:anyDensity="false"
        android:requiresSmallestWidthDp="420"
        android:resizeable="true"
        android:smallScreens="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">

        <activity
            android:name="com.notesin.activities.Settings"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.notesin.activities.Note"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.notesin.activities.ChangeSecretCode"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.notesin.activities.Home"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.notesin.activities.SecretCode"
            android:configChanges="uiMode"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>